<!DOCTYPE>
<html>
	<head>
		<!-- development version, includes helpful console warnings -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			{{ message }}
		</div>

		<hr/>

		<div id="app-2">
			<a 
				v-bind:title="message"
				v-bind:href="link">
				VROUM VROUM
			</a>
		</div>

		<hr/>

		<div id="components-demo">
			<button-counter></button-counter>
		</div>

		<hr/>

		<div id="someNews">
			<news title="news 1" content="Super news 1"></news>
			<news title="news 2" content="Super news 2"></news>
		</div>

		<hr/>

		<div id="allNews">
			<news 
				v-for="news in posts"
				v-bind:key="news.id"
				v-bind:title="news.title"
				v-bind:content="news.content">
			</news>			
		</div>


		<script>
			new Vue ({
				el: "#app",
				data : {
					message : "Hello Vue !"
				}
			});


			new Vue ({
				el: "#app-2",
				data: {
					message: "pouet pouet " + new Date().toLocaleString(),
					link: "https://google.fr"
				}
			});

			Vue.component('button-counter', {
				data: function() {
					return {
						count: 0
					}
				},
				template:'<button v-on:click="count++">You clicked me {{ count }} times.</button>'
			});
			new Vue ({ el: '#components-demo' })


			Vue.component('news', {
				props: ['title', 'content'],
				template: '<div class="news"><h3>{{ title }}</h3><div>{{ content }}</div></div>'
			});
			new Vue ({ el: '#someNews' });


			new Vue({
				el: "#allNews",
				data: {
					posts: [
						{ id: 1, title: "Titre 1", content: "content 1"},
						{ id: 2, title: "Titre 2", content: "content 2"},
						{ id: 3, title: "Titre 3", content: "content 3"}
					]
				}
			});		


		</script>

		
	</body>
</hmtl>